body{
    margin-top: 20px;
    color:#404040;
    font-family: Georgia, Garamond, serif;
    font-size: 11pt;
    background-image: url("../images/recipeImages/silverware.jpg");


}


ul{
    list-style-image: url('../images/recipeImages/pie_bullet.png');
}

a{
    color:#a4a400;
}

.strikethrough{
    text-decoration: line-through;
}
h2{


    font-size: 18pt;

    text-align: left;



}

h1{


     font-size: 22pt;

     text-align: center;



 }
h2 span,h1 span{
    background-color:#f0f0f0;
    letter-spacing: 0.25em;
    text-decoration: underline;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", Helvetica, Arial,sans-serif;
    color: #a4a400;

}

.userCommentBox{
    background-color: #ffffa8;
     margin:10px 40px 0px 40px;
font-style:italic;
    width:auto;
}
.emphasizedText{
    text-emphasis: #FFFFA8;
    color:red;
}