body{
	background-color: #595647;
}
.container{
	width: 350px;
 	 margin: 0 auto;
 
}






.container a{
	color: #0F8;
	text-decoration: none;
}
.container a:hover{
	color: blue;
	text-decoration: underline;
}

p::first-letter{
	font-size: 1.5em;
}

