div input {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width:250px;
}

#qn-1 {background-color: #008CBA;} /* Blue */
#qn-2 {background-color: #f44336;} /* Red */
#qn-3a{background-color: #e7e7e7; color: black;} /* Gray */
#qn-3b {background-color: #555555;} /* Black */
#qn-3c {background-color: #999999}
#qn-4a {background-color: #008CBA}
#qn-4b {background-color: #E8DC9B}
#qn-4c {background-color: darkkhaki}


.container{

    column-count: 2;
    column-gap: 2%;


}
@media screen and (max-width:560px){
    .container{
    
        column-count:1;
       
    }
 
}





